

/* Sprite
===================================*/

.mario {
  position:fixed;
  left: -50px;
}




/* Buttons, Typeography
===================================*/

.button {

/* step 1: basic button styles */

  display: block;
  margin: auto;
  width: 300px;
  height: 100px;
  background: none;
  border: solid skyblue 2px;

/* step 2: basic text styles*/
  color: skyblue;
  text-align: center;
  font: 3.2em/100px sans-serif;
}

a.button {
  text-decoration: none;
}

.button:hover {
  background-color: skyblue;
  color: white;
}
