/* Body
===================================*/

body {
  padding-top: 200px;
}

/* Sprite
===================================*/

.mario {
  left: -400px;
}




/* Buttons, Typeography
===================================*/

.button {

/* step 1: basic button styles */
  background: none;
  border: solid skyblue 2px;
  padding: 10px;

/* step 2: basic text styles*/
  color: skyblue;
  text-align: center;
  font: 3.2em/100px sans-serif;
  text-decoration: none;
}

a.button {
  text-decoration: none;
}



.button:hover {
  background-color: skyblue;
  color: white;
  text-decoration: none;
}
